<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" />
  <package id="Mail.dll" version="3.0.12126.2100" />
  <package id="Newtonsoft.Json" version="4.5.5" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="RazorEngine" version="3.0.8" />
</packages>